<section id='cities'>
	<div class='container'>
		<h2>
			Мы федеральная сеть <br />
			и находимся в 38 городах России
		</h2>
		<div class='col-xl-3'>
			Альметьевск
			Астрахань
			Балаково
			Балашов
			Барнаул
			Батайск
			Белово
			Волгоград
			Волжский
			Воронеж
		</div>
		<div class='col-xl-3'>
			Горно-Алтайск
			Казань
			Кемерово
			Киров
			Краснодар
			Курган
			Липецк
			Междуреченск
			Мичуринск
			Нальчик
		</div>
		<div class='col-xl-3'>
			Новоалтайск
			Новокузнецк
			Новосибирск
			Новочеркаск
			Орел
			Старый Оскол
			Пенза
			Прокопьевск
			Ростов-на-Дону
			Рязань
		</div>
		<div class='col-xl-3'>
			Саранск
			Саратов
			Севастополь
			Ставрополь
			Тамбов
			Тольятти
			Чита
			Энгельс
		</div>
	</div>
</section>
