<section id='contacts'>
	<div class='container'>
		<h2>Контакты</h2>
		<h3>Отдел продаж</h3>
		<p class='big'>г. Ростов-на-Дону, ул. Буровая, 46. Офис, 24</p>
		<ul class='employees col-xl-10 row'>
			<li>
				<span class='person'><h3>Дмитрий Никитин</h3> <a target='_blank' href='https://vk.com/2bfun' class='vk'>https://vk.com/2bfun</a></span>
				<p>
					Руководитель отдела продаж<br />
					+7 952 608-62-95
				</p>
			</li>
			<li>
				<span class='person'><h3>Мария Киптева</h3> <a target='_blank' href='https://vk.com/id21828131' class='vk'>https://vk.com/id21828131</a></span>
				<p>
					Менеджер по продажам<br />
					+7 951 842-21-40
				</p>
			</li>
			<li>
				<span class='person'><h3>Капрельян Ирина</h3> <a target='_blank' href='https://vk.com/id4094864' class='vk'>https://vk.com/id4094864</a></span>
				<p>
					Менеджер по продажам<br />
					+7 951 846-46-19
				</p>
			</li>
			<li>
				<span class='person'><h3>Сергей Ценцевицкий</h3> <a target='_blank' href='https://vk.com/id47387223' class='vk'>https://vk.com/id47387223</a></span>
				<p>
					Отдел производства<br />
					+7 987 382-88-48
				</p>
			</li>
			<li>
				<span class='person'><h3>Наталья Ковалева</h3> <a target='_blank' href='' class='vk'></a></span>
				<p>
					Бухгалтерия<br />
					+7 (8452) 44 23 23
				</p>
			</li>
		</ul>
	</div>
</section>
<section class='map' id='map'>

</section>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuFb_87UriY3RANdLQ_cKNm70ecs1SEMg"></script>
<script type='text/javascript'>
function initMap() {
// Координаты центра на карте. Широта: 56.2928515, Долгота: 43.7866641
var centerLatLng = new google.maps.LatLng(47.251721, 39.615031);
// Обязательные опции с которыми будет проинициализированна карта
var mapOptions = {
	center: centerLatLng, // Координаты центра мы берем из переменной centerLatLng
	zoom: 20               // Зум по умолчанию. Возможные значения от 0 до 21
};
// Создаем карту внутри элемента #map
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
}
// Ждем полной загрузки страницы, после этого запускаем initMap()
google.maps.event.addDomListener(window, "load", initMap);
</script>
