<section id='contacts'>
	<div class='container'>
		<h2>Контакты</h2>
		<h3>Отдел продаж<a target='_blank' href='' class='vk'></a></h3>
		<p>г. Ростов-на-Дону, ул. Буровая, 46. Офис, 24</p>
		<ul class='employees col-xl-10'>
			<li>
				<h3>Дмитрий Никитин<a target='_blank' href='https://vk.com/2bfun' class='vk'></a></h3>
				<p>
					Руководитель отдела продаж<br />
					+7 952 608-62-95
				</p>
			</li>
			<li>
				<h3>Мария Киптева<a target='_blank' href='' class='vk'>https://vk.com/id21828131</a></h3>
				<p>
					Менеджер по продажам<br />
					+7 951 842-21-40
				</p>
			</li>
			<li>
				<h3>Капрельян Ирина<a target='_blank' href='' class='vk'>https://vk.com/id4094864</a></h3>
				<p>
					Менеджер по продажам<br />
					+7 951 846-46-19
				</p>
			</li>
			<li>
				<h3>Сергей Ценцевицкий<a target='_blank' href='https://vk.com/id47387223' class='vk'></a></h3>
				<p>
					Отдел производства<br />
					+7 987 382-88-48
				</p>
			</li>
			<li>
				<h3>Наталья Ковалева<a target='_blank' href='' class='vk'></a></h3>
				<p>
					Бухгальерия<br />
					+7 (8452) 44 23 23
				</p>
			</li>
		</ul>
	</div>
	<div class='map'>

	</div>

</section>
